
<div class="info-modal">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper m-4 p-3">
          <div class="header text-center h2">
            <i class="fa-solid fa-check"></i>
            <p class="error" [innerHTML]="type"></p>
          </div>
          <div class="body text-center">
            <!-- <h2 class="resume" [innerHTML]="title"></h2> -->
            <h2 class="resume" [innerHTML]="subtitle"></h2>
            <p class="message" [innerHTML]="message" ></p>
          </div>
          <div class="footer text-center">
            <button mat-raised-button color="primary" (click)="close()" >Continuar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



