<div class="container-fluid p-5">
  <div class="row pb-3">
    <div class="col-md-12 text-center">
      <h1>Lista de Publicadores</h1>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-md-12 text-center">
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
      <div class="">

        <vmc-table-primeng [publisherList]="publisherList" (onSelected)="edit($event)"></vmc-table-primeng>
        <mat-paginator
          [pageSizeOptions]="[20, 30, 40]"
          showFirstLastButtons
          aria-label="Elija la pagina de Publicadores"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
