<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Administrador de Programa</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Programas" class="p-4">
          <div class="p-4">
            <div class="row">
              <div class="col-md-12 my-4">
                <vmc-programs></vmc-programs>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Semanas">
          <vmc-assignment></vmc-assignment>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
