.entre-semana {
  background-color: rgb(241, 239, 239);
  width: 100%;
  margin: 0 auto;
  .wrapper {
    height: 73vh;
    overflow: auto;
  }

}

@media (min-width: 992px) {
  .entre-semana {
    .wrapper {
      height: 80vh;
      overflow: auto;
    }

    padding: 10px 20px 10px 20px;
    background-color: rgb(241, 239, 239);
    min-height: 70vh;
    width: 100%;
    margin: 0;
    overflow:hidden;

    &__body {
      background-color: white;
    }

    &__header {
      padding: 50px 0 0 0;
      border-top: none;
      border-bottom-style: double;
    }

    legend {
      font-size: 1rem;
      margin-bottom: -2px;
      color: white;
      width: 530px;
      padding-left: 10px;
      position: relative;

      & mat-icon {
        position: absolute;
        right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__title {

    }

    &__title-tesoros {
      background-color: gray;
    }

    &__title-maestros {
      background-color: rgb(220, 141, 37);
    }

    &__title-vida {
      background-color: rgb(151, 44, 5);
    }

    .title-number {
      display: inline-block;
      width: 20px;
      text-align: right;
    }

    .text-title-custom {
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
    }

    .big-title {
      white-space: nowrap;
      /* Prevents the text from wrapping */
      overflow: hidden;
      /* Hides the overflowing text */
      text-overflow: ellipsis;
      /* Displays an ellipsis (...) when the text overflows */
      width: 500px;
    }

    .hover:hover {
      cursor: pointer;
      background-color: rgb(184, 189, 189);
    }

  }
}

