.entre-semana {
  background-color: rgb(241, 239, 239);
  min-height: 70vh;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.entre-semana__clear-filter {
  bottom: 24px;
  position: fixed;
  right: 24px;
  z-index: 1050;
}

@media (min-width: 1366px) {
  .entre-semana {
    padding: 10px 20px 10px 20px;
    background-color: rgb(241, 239, 239);
    min-height: 70vh;
    width: 100%;
    margin: 0;
    overflow:hidden;
    max-height: 93vh;
  }
}

@media (max-width: 575.98px) {
  .entre-semana__clear-filter {
    bottom: 16px;
    right: 16px;
  }
}

