<div class="publisher">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Disponibles">
            <fieldset
              class="fieldset-basic"
              *ngIf="assignment && assignment.assignment"
            >
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignación:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-2">
                  <div>Responsable:</div>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.responsible?.fullName}}</span>
                </div>
                <div class="col-md-2">
                  <div>Ayudante:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assistant?.fullName }}
                  </span>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input
                    class="form-control col-md-8 mb-3"
                    [(ngModel)]="assignment.assignment.tips"
                    type="text"
                    id="tips"
                    name="tips"
                  />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle
                    [(ngModel)]="assignment.assignment.showTips"
                  ></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                <mat-spinner *ngIf="showSpinner"></mat-spinner>

                <div
                  class="table-responsive"
                  *ngIf="usedPublishersList && usedPublishersList.length > 0"
                >
                  <table
                    class="table table-hover table-sm table-bordered cursor-hover"
                  >
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">Publicador</th>
                        <th class="text-center" scope="col">{{ headerText }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let item of usedPublishersList"
                        (click)="selected(item)"
                      >
                        <td>{{ item.fullName }}</td>
                        <td class="text-center"   *ngIf="assignmentType === assignmentTypeEnums.PRESIDENT" >{{ item.presidentCount }}</td>
                        <td class="text-center"   *ngIf="assignmentType === assignmentTypeEnums.OPENING_PRAYER"  >{{ item.openingPrayerCount }}</td>
                        <td class="text-center"   *ngIf="assignmentType === assignmentTypeEnums.FINAL_PRAYER"  >{{ item.finalPrayerCount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <h3
                  class="text-center mt-5 pt-5"
                  *ngIf="!usedPublishersList || usedPublishersList.length == 0"
                >
                  No hay datos
                </h3>
              </fieldset>
            </div>
          </mat-tab>

          <mat-tab label="Todos">
            <fieldset
              class="fieldset-basic"
              *ngIf="assignment && assignment.assignment"
            >
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignación:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-2">
                  <div>Responsable:</div>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.responsible?.fullName}}</span>
                </div>
                <div class="col-md-2">
                  <div>Ayudante:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assistant?.fullName }}
                  </span>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input
                    class="form-control col-md-8 mb-3"
                    [(ngModel)]="assignment.assignment.tips"
                    type="text"
                    id="tips"
                    name="tips"
                  />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle
                    [(ngModel)]="assignment.assignment.showTips"
                  ></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                <mat-spinner *ngIf="showSpinner"></mat-spinner>

                <div
                  class="table-responsive"
                  *ngIf="publishersAll && publishersAll.length > 0"
                >
                  <table
                    class="table table-hover table-sm table-bordered cursor-hover"
                  >
                    <thead>
                      <tr>
                        <th scope="col">Publicador</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let item of publishersAll"
                        (click)="selected(item)"
                      >
                        <td>{{ item.fullName }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h3
                  class="text-center mt-5 pt-5"
                  *ngIf="!publishersAll || publishersAll.length == 0"
                >
                  No hay datos
                </h3>
              </fieldset>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
