.container {
  width: 98vw;
  height: 65vh;
  overflow-y: auto;
}

.cursor-hover {
  cursor: pointer;
}

.table-container {
  height: 70%;
  overflow: auto;
}

mat-spinner {
  position: absolute;
  top: 40%;
  left: 45%;
}

.participa {
  color: green;
}

.noparticipa {
  color: rgb(238, 3, 3) !important;
}


@media (min-width: 992px) {
  .container {
    width: 50vw;
    height: 65vh;
    overflow-y: auto;
  }
}
