<div class="publisher">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end p-2 pe-4">
        <vmc-icon-close (click)="closeModal()"></vmc-icon-close>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Frecuentes">
            @if (assignment && assignment.assignment) {
            <fieldset class="fieldset-basic">
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignaciónes:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input class="form-control col-md-8 mb-3" [(ngModel)]="assignment.assignment.tips" type="text"
                    id="tips" name="tips" />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle [(ngModel)]="assignment.assignment.showTips"></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            }

            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                @if (showSpinner) {
                <mat-spinner></mat-spinner>
                }

                @if (!isAssigment) {
                @if (usedPublishersDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="usedPublishersDataSource" matSort class="mat-elevation-z8">
                    <!-- Publicador Column -->
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicador</th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>
                    <!-- Dynamic Count Column -->
                    <ng-container matColumnDef="count">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headerText }}</th>
                      <td mat-cell *matCellDef="let item">
                        @if (assignmentType === assignmentTypeEnums.PRESIDENT) {
                        {{ item.presidentCount }}
                        }
                        @if (assignmentType === assignmentTypeEnums.OPENING_PRAYER) {
                        {{ item.openingPrayerCount }}
                        }
                        @if (assignmentType === assignmentTypeEnums.FINAL_PRAYER) {
                        {{ item.finalPrayerCount }}
                        }
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['fullName', 'count']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'count'];" (click)="selected(row)"></tr>
                  </table>
                </div>
                }
                }

                @if (isAssigment) {
                @if (usedPublishersAllByAssigDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="usedPublishersAllByAssigDataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicador</th>
                      <td mat-cell *matCellDef="let item">{{ item.user.fullName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="count">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headerText }}</th>
                      <td mat-cell *matCellDef="let item">{{ item.count }}</td>
                    </ng-container>
                    <ng-container matColumnDef="all">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Todas</th>
                      <td mat-cell *matCellDef="let item">{{ item.all }}</td>
                    </ng-container>
                    <ng-container matColumnDef="lastDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ultima Fecha</th>
                      <td mat-cell *matCellDef="let item">{{ parseDate(item.lastDate) }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['fullName', 'count', 'all', 'lastDate']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'count', 'all', 'lastDate'];"
                      (click)="selected(row)"></tr>
                  </table>
                </div>
                }
                }
              </fieldset>
            </div>
          </mat-tab>
          <mat-tab label="Hermanos">
            @if (assignment && assignment.assignment) {
            <fieldset class="fieldset-basic">
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignación:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input class="form-control col-md-8 mb-3" [(ngModel)]="assignment.assignment.tips" type="text"
                    id="tips" name="tips" />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle [(ngModel)]="assignment.assignment.showTips"></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            }
            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                @if (showSpinner) {
                <mat-spinner></mat-spinner>
                }

                @if (maleDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="maleDataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicador</th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                      <td mat-cell *matCellDef="let item" class="text-center participa"
                        [ngClass]="{ noparticipa: !item.participate }">
                        {{ item.participate ? "PARTICIPA" : "NO PARTICIPA" }}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['fullName', 'estado']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'estado'];" (click)="selected(row)"></tr>
                  </table>
                </div>
                }
              </fieldset>
            </div>
          </mat-tab>
          <mat-tab label="Hermanas">
            @if (assignment && assignment.assignment) {
            <fieldset class="fieldset-basic">
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignación:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input class="form-control col-md-8 mb-3" [(ngModel)]="assignment.assignment.tips" type="text"
                    id="tips" name="tips" />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle [(ngModel)]="assignment.assignment.showTips"></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            }
            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                @if (showSpinner) {
                <mat-spinner></mat-spinner>
                }

                @if (femaleDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="femaleDataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicador</th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                      <td mat-cell *matCellDef="let item" class="text-center participa"
                        [ngClass]="{ noparticipa: !item.participate }">
                        {{ item.participate ? "PARTICIPA" : "NO PARTICIPA" }}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['fullName', 'estado']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'estado'];" (click)="selected(row)"></tr>
                  </table>
                </div>
                }
              </fieldset>
            </div>
          </mat-tab>
          <mat-tab label="Todos">
            @if (assignment && assignment.assignment) {
            <fieldset class="fieldset-basic">
              <legend></legend>

              <div class="row">
                <div class="col-md-2">
                  <span>Asignación:</span>
                </div>
                <div class="col-md-6 h6">
                  <span>{{ assignment.assignment.title }}</span>
                </div>
                <div class="col-md-2">
                  <div>Tiempo:</div>
                </div>
                <div class="col-md-2">
                  <span>
                    {{ assignment.assignment.time }}
                    {{ assignment.assignment.timeType }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div>Tips:</div>
                </div>
                <div class="col-md-6 h6">
                  <input class="form-control col-md-8 mb-3" [(ngModel)]="assignment.assignment.tips" type="text"
                    id="tips" name="tips" />
                </div>
                <div class="col-md-2">
                  <div>Mostrar:</div>
                </div>
                <div class="col-md-2">
                  <mat-slide-toggle [(ngModel)]="assignment.assignment.showTips"></mat-slide-toggle>
                </div>
              </div>
            </fieldset>
            }
            <div class="">
              <fieldset class="fieldset-basic table-container">
                <legend></legend>

                @if (showSpinner) {
                <mat-spinner></mat-spinner>
                }

                @if (publishersAllDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="publishersAllDataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicador</th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['fullName']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName'];" (click)="selected(row)"></tr>
                  </table>
                </div>
                }
              </fieldset>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>