<div class="publisher">
  <div class="col-md-12 d-flex justify-content-end p-2 pe-4">
    <vmc-icon-close (click)="closeModal()"></vmc-icon-close>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Frecuentes">
            @if (assignment && assignment.assignment) {
              <fieldset class="fieldset-basic">
                <legend></legend>
                <div class="row">
                  <div class="col-md-2">Título:</div>
                  <div class="col-md-6 h6">{{ assignment.assignment.title }}</div>
                  <div class="col-md-2">Tiempo:</div>
                  <div class="col-md-2">{{ assignment.assignment.time }} {{ assignment.assignment.timeType }}</div>
                </div>
                @if (assignment.assignment.sourceHtml || assignment.assignment.sourceText) {
                <div class="row">
                  <div class="col-md-2">Fuente:</div>
                  <div class="col-md-10">
                    <vmc-assignment-source [assignment]="assignment.assignment"></vmc-assignment-source>
                  </div>
                </div>
                }
                <div class="row">
                  <div class="col-md-2">Asignado</div>
                  <div class="col-md-5 h6">
                    <input
                      class="form-control mb-3"
                      [value]="type === 'responsible' ? (assignment.responsible?.fullName ?? 'Por asignar') : (assignment.assistant?.fullName ?? 'Por asignar')"
                      readonly
                    />
                  </div>
                  <div class="col-md-1"><button class="btn btn-sm btn-danger" (click)="clean()">Borrar</button></div>
                  <div class="col-md-2">Asignación:</div>
                  <div class="col-md-2">
                    {{ type === "responsible" ? "Responsable" : "Asistente" }}
                  </div>
                </div>
              </fieldset>
            }

            <fieldset class="fieldset-basic">
              @if (showSpinner) {
                <mat-spinner></mat-spinner>
              }

              @if (!isAssigment) {
                <div class="table-responsive">
                  <input class="form-control mb-3" placeholder="busqueda1" (keyup)="onSearch($event, 'usedPublishersDataSource')" />

                  <table mat-table [dataSource]="usedPublishersDataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersDataSource', 'fullName')">
                          <span>Publicador</span>
                          <mat-icon>{{ getSortIcon("usedPublishersDataSource", "fullName") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersDataSource', 'count')">
                          <span>{{ headerText }}</span>
                          <mat-icon>{{ getSortIcon("usedPublishersDataSource", "count") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        {{
                          assignmentType === assignmentTypeEnums.PRESIDENT
                            ? item.presidentCount
                            : assignmentType === assignmentTypeEnums.OPENING_PRAYER
                              ? item.openingPrayerCount
                              : item.finalPrayerCount
                        }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lastAssignmentDate">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersDataSource', 'lastAssignmentDate')">
                          <span>Última Asignación</span>
                          <mat-icon>{{ getSortIcon("usedPublishersDataSource", "lastAssignmentDate") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        {{ parseDate(item.lastAssignmentDate) }}
                      </td>
                    </ng-container>

                    <!-- NUEVA COLUMNA -->
                    <ng-container matColumnDef="more">
                      <th mat-header-cell *matHeaderCellDef>Más</th>
                      <td mat-cell *matCellDef="let item">
                        <button class="btn btn-sm btn-primary" (click)="more(item, $event)">Más..</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['fullName', 'count', 'lastAssignmentDate', 'more']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'count', 'lastAssignmentDate', 'more']" (click)="selected(row)"></tr>
                  </table>
                </div>
              }

              @if (isAssigment) {
                <div class="table-responsive">
                  <input class="form-control mb-3" placeholder="busqueda" (keyup)="onSearch($event, 'usedPublishersAllByAssigDataSource')" />

                  <table mat-table [dataSource]="usedPublishersAllByAssigDataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'fullName')">
                          <span>Publicador</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "fullName") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.user.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'count')">
                          <span>{{ headerText }}</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "count") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.count }}</td>
                    </ng-container>

                    <ng-container matColumnDef="all">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'all')">
                          <span>Todas</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "all") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.all }}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastAssignByRoom">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'lastAssignByRoom')">
                          <span>En sala {{ room == "B" ? "Auxiliar" : "Principal" }}</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "lastAssignByRoom") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        {{ parseDate(item.lastAssignByRoom) }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lastDate">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'lastDate')">
                          <span>Por Asignación</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "lastDate") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        {{ parseDate(item.lastDate) }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lastAssignGlobal">
                      <th mat-header-cell *matHeaderCellDef class="global-column">
                        <button type="button" class="sort-header" (click)="sortDataSource('usedPublishersAllByAssigDataSource', 'lastAssignGlobal')">
                          <span>Global</span>
                          <mat-icon>{{ getSortIcon("usedPublishersAllByAssigDataSource", "lastAssignGlobal") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item" class="global-column">
                        {{ parseDate(item.lastAssignGlobal) }}
                      </td>
                    </ng-container>

                    <!-- NUEVA -->
                    <ng-container matColumnDef="more">
                      <th mat-header-cell *matHeaderCellDef>Más</th>
                      <td mat-cell *matCellDef="let item">
                        <button class="btn btn-sm btn-primary" (click)="more(item, $event); $event.stopPropagation()">Más..</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['fullName', 'count', 'all', 'lastAssignByRoom', 'lastDate', 'lastAssignGlobal', 'more']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'count', 'all', 'lastAssignByRoom', 'lastDate', 'lastAssignGlobal', 'more']" (click)="selected(row)"></tr>
                  </table>
                </div>
              }
            </fieldset>
          </mat-tab>

          <!-- HERMANOS -->
          <mat-tab label="Hermanos">
            <fieldset class="fieldset-basic table-container">
              @if (maleDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="maleDataSource">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('maleDataSource', 'fullName')">
                          <span>Publicador</span>
                          <mat-icon>{{ getSortIcon("maleDataSource", "fullName") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('maleDataSource', 'estado')">
                          <span>Estado</span>
                          <mat-icon>{{ getSortIcon("maleDataSource", "estado") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        <span [class.text-danger]="!item.participate" [class.text-success]="item.participate">
                          {{ item.participate ? "PARTICIPA" : "NO PARTICIPA" }}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="more">
                      <th mat-header-cell *matHeaderCellDef>Más</th>
                      <td mat-cell *matCellDef="let item">
                        <button class="btn btn-sm btn-primary" (click)="more(item, $event)">Más..</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['fullName', 'estado', 'more']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'estado', 'more']" (click)="selected(row)"></tr>
                  </table>
                </div>
              }
            </fieldset>
          </mat-tab>

          <!-- HERMANAS -->
          <mat-tab label="Hermanas">
            <fieldset class="fieldset-basic table-container">
              @if (femaleDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="femaleDataSource">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('femaleDataSource', 'fullName')">
                          <span>Publicador</span>
                          <mat-icon>{{ getSortIcon("femaleDataSource", "fullName") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('femaleDataSource', 'estado')">
                          <span>Estado</span>
                          <mat-icon>{{ getSortIcon("femaleDataSource", "estado") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        <span [class.text-danger]="!item.participate" [class.text-success]="item.participate">
                          {{ item.participate ? "PARTICIPA" : "NO PARTICIPA" }}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="more">
                      <th mat-header-cell *matHeaderCellDef>Más</th>
                      <td mat-cell *matCellDef="let item">
                        <button class="btn btn-sm btn-primary" (click)="more(item, $event)">Más..</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['fullName', 'estado', 'more']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'estado', 'more']" (click)="selected(row)"></tr>
                  </table>
                </div>
              }
            </fieldset>
          </mat-tab>

          <!-- TODOS -->
          <mat-tab label="Todos">
            <fieldset class="fieldset-basic table-container">
              @if (publishersAllDataSource.data.length > 0) {
                <div class="table-responsive">
                  <table mat-table [dataSource]="publishersAllDataSource">
                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef>
                        <button type="button" class="sort-header" (click)="sortDataSource('publishersAllDataSource', 'fullName')">
                          <span>Publicador</span>
                          <mat-icon>{{ getSortIcon("publishersAllDataSource", "fullName") }}</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let item">{{ item.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="more">
                      <th mat-header-cell *matHeaderCellDef>Más</th>
                      <td mat-cell *matCellDef="let item">
                        <button class="btn btn-sm btn-primary" (click)="more(item, $event)">Más..</button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['fullName', 'more']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['fullName', 'more']" (click)="selected(row)"></tr>
                  </table>
                </div>
              }
            </fieldset>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<!-- SUB MODAL -->
<div class="sub-modal-backdrop" *ngIf="showSubModal">
  <div class="sub-modal">
    <!-- HEADER -->
    <div class="d-flex justify-content-end align-items-end mb-3">
      <button class="btn-close" (click)="closeSubModal()"></button>
    </div>
    <h5 class="m-0 text-center">{{ subModalDataSourceNamePublisher }}</h5>

    <!-- TABLA -->
    <div class="table-responsive">
      <table mat-table [dataSource]="subModalDataSource" class="mat-elevation-z8 w-100">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
            <button type="button" class="sort-header" (click)="sortDataSource('subModalDataSource', 'date')">
              <span>Fecha</span>
              <mat-icon>{{ getSortIcon("subModalDataSource", "date") }}</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let item">
            {{ parseDate(item.date) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            <button type="button" class="sort-header" (click)="sortDataSource('subModalDataSource', 'title')">
              <span>Título</span>
              <mat-icon>{{ getSortIcon("subModalDataSource", "title") }}</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            <button type="button" class="sort-header" (click)="sortDataSource('subModalDataSource', 'type')">
              <span>Tipo</span>
              <mat-icon>{{ getSortIcon("subModalDataSource", "type") }}</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.type }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['date', 'title', 'type']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['date', 'title', 'type']"></tr>
      </table>
    </div>
  </div>
</div>
