<div class="row">
  <div class="col-sm-4 h2">
    Dia de la reunion: {{ showDayOfMeeting(week.week) }}
  </div>
  <div class="col-sm-4 h2">Numero de semana: {{ week.weekNumber }}</div>
  <div class="col-sm-4 h2">Semana del {{ week.week }}</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-primary">
          <tr>

            <th scope="col" class="text-center">Presidente</th>
            <th scope="col" class="text-center">Oracion inicial</th>
            <th scope="col" class="text-center">Consejero Auxiliar</th>
            <th scope="col" class="text-center">Oracion Final</th>
            <th rowspan="2" class="text-center">Cancion inicial</th>
            <th scope="col" class="text-center">Cancion Vida</th>
            <th scope="col" class="text-center">Cancion Final</th>

            <th scope="col" class="text-center"></th>
          </tr>
        </thead>

        <tbody>
          <tr [formGroup]="form">
            <td class="text-center">
              <div class="input-group sizeMin180px">
                <input
                  type="text"
                  class="form-control"
                  aria-label="president"
                  [value]="president"
                  aria-describedby="button-addon2"
                  (click)="assigPresident()"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  (click)="assigPresident()"
                >
                  <mat-icon>person_add</mat-icon>
                </button>
              </div>
            </td>
            <td class="text-center">
              <div class="input-group sizeMin180px">
                <input
                  type="text"
                  class="form-control"
                  aria-label="openingPrayer"
                  aria-describedby="button-addon2"
                  [value]="openingPrayer"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  (click)="assigOpeningPrayer()"
                >
                  <mat-icon>person_add</mat-icon>
                </button>
              </div>
            </td>

            <td class="text-center">
              <div class="input-group sizeMin180px">
                <input
                  type="text"
                  class="form-control"
                  aria-label="assistantAdviser"
                  aria-describedby="button-addon2"
                  [value]="assistantAdviser"
                  (click)="assigAssistantAdviser()"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  (click)="assigAssistantAdviser()"
                >
                  <mat-icon>person_add</mat-icon>
                </button>
              </div>
            </td>
            <td class="text-center">
              <div class="input-group sizeMin180px">
                <input
                  type="text"
                  class="form-control"
                  aria-label="finalPrayer"
                  aria-describedby="button-addon2"
                  [value]="finalPrayer"
                  (click)="assigFinalPrayer()"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  (click)="assigFinalPrayer()"
                >
                  <mat-icon>person_add</mat-icon>
                </button>
              </div>
            </td>

            <td class="">
              <input
                type="text"
                name="openingSong"
                formControlName="openingSong"
                class="form-control  text-center col"
                aria-label="openingSong"
                aria-describedby="basic-addon1"
              />
            </td>



            <td class="text-center">
              <input
                type="text"
                name="timeType"
                formControlName="intermediateSong"
                class="form-control size50px text-center"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </td>
            <td class="text-center">
              <input
                type="text"
                name="finalSong"
                formControlName="finalSong"
                class="form-control size50px text-center"
                aria-label="finalSong"
                aria-describedby="basic-addon1"
              />
            </td>

            <td>
              <button
                mat-icon-button
                (click)="save()"
                type="button"
                class="btn btn-primary"
              >
                <mat-icon>save</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="text-center">Cancion Inicial</th>
            <th scope="col" class="text-center">Introduccion</th>
            <th scope="col" class="text-center">Cancion Vida</th>
            <th scope="col" class="text-center">Conclusion</th>
            <th scope="col" class="text-center">Cancion Final</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>

        <tbody>
          <tr [formGroup]="form">
            <td>
              <input
                type="time"
                name="startTimeOpeningSong"
                formControlName="startTimeOpeningSong"
                class="form-control  text-center col"
                aria-label="startTimeOpeningSong"
                aria-describedby="basic-addon1"
              />
            </td>
            <td class="text-center">
                <input
                  type="time"
                  class="form-control"
                  aria-label="startTimeIntro"
                  aria-describedby="button-addon2"
                  name="startTimeIntro"
                  formControlName="startTimeIntro"
                />
            </td>
            <td class="text-center">
              <input
              type="time"
              class="form-control"
              aria-label="startTimeIntermediateSong"
              aria-describedby="button-addon2"
              name="startTimeIntermediateSong"
              formControlName="startTimeIntermediateSong"
            />
            </td>
            <td class="text-center">
              <input
              type="time"
              class="form-control"
              aria-label="startTimeConclusionWords"
              aria-describedby="button-addon2"
              name="startTimeConclusionWords"
              formControlName="startTimeConclusionWords"
            />
            </td>
            <td class="text-center">
              <input
                type="time"
                name="startTimeFinalSong"
                formControlName="startTimeFinalSong"
                class="form-control size50px text-center"
                aria-label="startTimeFinalSong"
                aria-describedby="basic-addon1"
              />
            </td>
            <td>
              <button
                mat-icon-button
                (click)="save()"
                type="button"
                class="btn btn-primary"
              >
                <mat-icon>save</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

