<div class="container-fluid p-3">
  <mat-list-item>Publicador</mat-list-item>
  <mat-divider></mat-divider>
  <!-- <fieldset class="fieldset-base"> -->
  <div class="ms-4">
    <div class="row mt-2">
      <div class="col-md-2">Nombre</div>
      <div class="col-md-10">{{ publisher.fullName }}</div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">Telefono</div>
      <div class="col-md-10">{{ publisher.cellPhone }}</div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">Email</div>
      <div class="col-md-10">{{ publisher.email }}</div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <form>
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Nombramientos</mat-label>
            <mat-chip-grid #chipGrid aria-label="Nombramientos">
              <mat-chip-row *ngFor="let designation of designations" (removed)="remove(designation)">
                {{designation}}
                <button matChipRemove [attr.aria-label]="'remove ' + designation">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Agregar.." #fruitInput [formControl]="fruitCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-end">
        <button mat-raised-button color="primary" (click)="save()">Guardar Nombramientos</button>
      </div>
    </div>
  </div>

  <!-- </fieldset> -->

  <mat-list-item class="mt-3">Historico de Asignaciones</mat-list-item>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>
