.table-wrap {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  min-width: 900px;
}

.actions-col {
  width: 120px;
  white-space: nowrap;
  text-align: center;
}

.actions-col button {
  margin: 0 4px;
}
.btn-mat:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: 0.6;
}