<div class="program-filters">
  <label class="program-filters__field">
    <span>Desde</span>
    <p-calendar
      [(ngModel)]="fechaDesde"
      [showIcon]="true"
      [appendTo]="'body'"
      dateFormat="dd/mm/yy"
      inputId="fechaDesde"
      styleClass="program-filters__calendar"
      placeholder="Desde"
      (onSelect)="onChange()"
    >
    </p-calendar>
  </label>

  <label class="program-filters__field">
    <span>Hasta</span>
    <p-calendar
      [(ngModel)]="fechaHasta"
      [showIcon]="true"
      [appendTo]="'body'"
      dateFormat="dd/mm/yy"
      inputId="fechaHasta"
      styleClass="program-filters__calendar"
      placeholder="Hasta"
    >
    </p-calendar>
  </label>

  <button
    pButton
    type="button"
    label="Buscar"
    icon="pi pi-search"
    class="p-button-primary program-filters__button"
    (click)="consultar()"
  ></button>
</div>
