<p-table [value]="publisherList" styleClass="jw-table" [scrollable]="true" [scrollHeight]="scrollHeight">

  <ng-template pTemplate="header">
    <tr class="color">
      <th>Publicador</th>
      <th>Documento</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>

      <td class="publisher-cell">
        <div class="publisher-info">

          <div class="avatar">
            {{ item.fullName[0] }}
          </div>

          <div class="publisher-text">
            <div class="name">{{ item.fullName }}</div>
            <div class="id">ID: {{ item.id }}</div>
          </div>

        </div>
      </td>

      <td>{{ item.documentNumber }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>

      <td class="actions">

        <p-button icon="pi pi-user-edit" (onClick)="selectedEdit(item)"
          styleClass="p-button-rounded p-button-text action-edit">
        </p-button>

        <p-button icon="pi pi-trash" (onClick)="delete(item)" styleClass="p-button-rounded p-button-text action-delete">
        </p-button>

      </td>

    </tr>
  </ng-template>

</p-table>
