@switch (modalType) {
  @case (typeOfModals.ASSIGN_PUB) {
    @if (assignment) {
      <search-publisher 
      [type]="type" 
      [assignment]="assignment" 
      [assignmentType]="assignmentType" 
      [room]="room"
      (onClose)="close()"
      (onClicked)="onClicked($event)" 
      ></search-publisher>
    }
  }
  @case (typeOfModals.SELECT_HOUR) {
    <select-hour (onSelected)="onClicked($event)"></select-hour>
  }
  @case (typeOfModals.PRINTER) {
    <app-printer [isModal]="true" (onClosed)="close()"></app-printer>
  }
  @case (typeOfModals.TITLE_AND_TIME) {
    <title-and-time (onClicked)="onClicked($event)" [assignment]="assignment"></title-and-time>
  }
  @case (typeOfModals.CHANGE_SONGS) {
    <change-song [song]="song" (onClicked)="onClicked($event)" [program]="program"></change-song>
  }
  @case (typeOfModals.ERROR) {
    <error-modal [type]="errorType" [message]="errorMessage" (onClicked)="onClicked($event)" [title]="title"></error-modal>
  }
  @case (typeOfModals.SUCCESS) {
    <info-modal [type]="title" [message]="mensaje" (onClicked)="onClicked($event)" [title]="subTitle"></info-modal>
  }
  @case (typeOfModals.LOADER) {
    <loader></loader>
  }
  @case (typeOfModals.ADDASSIG) {
    <vmc-add-assignment [week]="program" [sectionMeeting]="sectionMeeting" (onClosed)="close()"></vmc-add-assignment>
  }
  @case (typeOfModals.SELECT_PUBLISHER) {
    <vmc-select-publisher (onClicked)="onClicked($event)" (onClosed)="close()"> </vmc-select-publisher>
  }
  @case (typeOfModals.PRINTER_ASSIG) {
    <app-assignment-sheet-printer (onClosed)="close()" [isModal]="isModal"> </app-assignment-sheet-printer>
  }
  @default {
    <info-modal [message]="mensaje" [title]="titulo" [subtitle]="subTitle" (onClicked)="close()"></info-modal>
  }
}
