
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <vmc-config-general-entre-semana
        *ngIf="semana"
        [week]="semana"
        [publishers]="publishers"
        (onUpdated)="refresData()"
        >
        </vmc-config-general-entre-semana>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <vmc-edit-asignaciones-entre-semana

        [week]="semana"
        (onGetPublishers)="setPublishers($event)"
        >
        </vmc-edit-asignaciones-entre-semana>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">

      </div>
      <div class="col-md-2  float-end text-end">
        <button class="btn btn-secondary" (click)="print()"> Imprimir</button>
      </div>
    </div>
  </div>
</div>
