<section class="not-found">
  <div class="not-found__icon">
    <mat-icon>travel_explore</mat-icon>
  </div>

  <h1>Direccion no encontrada</h1>
  <p>La pagina que intentas abrir no existe o la direccion esta escrita de forma incorrecta.</p>

  <div class="not-found__actions">
    <a mat-flat-button color="primary" routerLink="/tablero/entre-semana">
      <mat-icon>event</mat-icon>
      Ir al programa
    </a>
    <a mat-button routerLink="/inicio">
      <mat-icon>login</mat-icon>
      Inicio
    </a>
  </div>
</section>
