<div class="login">
  <div class="container-fluid">
    <div class="row bg-primary text-white py-2 mb-5">
      <div class="col-md-12">
        <h4>Ingresar al Sistema</h4>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <input id="username" type="text" placeholder="usuario" class="form-control mb-3">
        <input id="password" type="password" placeholder="Contraseña" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2 ">
        <button class="btn btn-primary px-5" >Ingresar</button>
      </div>
    </div>
  </div>
</div>
