// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vmc-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$vmc-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vmc-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vmc-theme: mat.m2-define-light-theme((color: (primary: $vmc-primary,
        accent: $vmc-accent,
        warn: $vmc-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vmc-theme);
@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
fieldset {
  padding: 0.1rem;
  margin-right: 0;
  margin-left: 0;
  // border-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  // border: solid #dee2e6;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.fieldset {
  border: 2px solid gainsboro;
  padding: 10px;
  margin: 10px;
  width: 100%;

  legend {
    padding: 3px 5px;
    width: min-content;
    background-color: white;
    font-size: 18px;
  }
}

.modal-dialog {
  overflow: hidden;
  max-width: max-content;
  max-height: max-content;
  margin-right: auto;
  margin-left: auto;
}

.fieldset-basic {
  border: 2px solid gainsboro;
  padding: 10px;
  margin: 10px;
  width: 97%;

  legend {
    padding: 3px 5px;
    width: min-content;
    background-color: white;
    font-size: 18px;
  }
}

.shadow-titles {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-page {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fieldset-base {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}


@media (min-width: 760px) {

}

@media (min-width: 992px) {
  .fieldset {
    border: 2px solid gainsboro;
    padding: 0px;
    margin: 0px;
    width: 100%;

    legend {
      padding: 3px 5px;
      width: min-content;
      background-color: white;
      font-size: 18px;
    }
  }

  .modal-dialog {
    overflow: hidden;
    max-width: max-content;
    max-height: max-content;
    margin-right: auto;
    margin-left: auto;
  }

  .fieldset-basic {
    border: 2px solid gainsboro;
    padding: 10px;
    margin: 10px;
    width: 97%;

    legend {
      padding: 3px 5px;
      width: min-content;
      background-color: white;
      font-size: 18px;
    }
  }

  .shadow-titles {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .shadow-page {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .fieldset-base {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 10px;
    margin: 10px;

  }
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: red;


}