<ng-template #filtersModal>
  <div class="program-filter-modal">
    <div class="program-filter-modal__header">
      <h5 class="program-filter-modal__title">Buscar programas</h5>
      <button type="button" class="btn-close" aria-label="Cerrar" (click)="closeFiltersModal()"></button>
    </div>
    <div class="program-filter-modal__body">
      <vmc-program-filters (filter)="onFiltersSelected($event)"></vmc-program-filters>
    </div>
  </div>
</ng-template>

<div class="container-fluid printer-shell">
  @if (isModal) {
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end p-2">
      <vmc-icon-close (click)="onCLose()"></vmc-icon-close>
    </div>
  </div>
  }

  <button
    type="button"
    class="printer-filter-fab"
    title="Buscar programas"
    aria-label="Buscar programas por fecha"
    (click)="openFiltersModal(filtersModal)"
  >
    <i class="pi pi-calendar"></i>
    <i class="pi pi-search printer-filter-fab__search"></i>
  </button>

  <div class="row">
    <div class="col-md-12 pe-xl-5 pdf-viewer-shell">
      <ng2-pdfjs-viewer [fullScreen]="true" [zoom]="'auto'" [print]="true" [showSpinner]="true" #pdfViewerAutoLoad>
      </ng2-pdfjs-viewer>
    </div>
  </div>
</div>
