.container-fluid {
  width: 100vw;
  height:100vh;
}

ng2-pdfjs-viewer {
  height: 100%;
  width: 100%;
}
vmc-icon-close {
  cursor: pointer;
}
@media (min-width: 1366px) {
  .container-fluid {
    width: 85vw;
    height: 90vh;
  }
}
