<vmc-program-filters (filter)="consultar($event)"></vmc-program-filters>

<div class="program">
  <div class="container-wrapper p-0 p-md-1">
    <div class="wrapper">
      @for (semana of semanasAllRooms; track semana.id; let first = $first) {
      <vmc-program-week
        [semana]="semana"
        [weeks]="semanasAllRooms"
        [roomA]="RoomA"
        [showPresidentTooltip]="first"
        [room]="room"
        [isAdmin]="isAdmin"
        [porAsignar]="porAsignar"
        [meetingDay]="meetingDay"
        (print)="print($event)"
        (printAssignments)="printAssig($event)"
        (programChange)="changeProgram($event.program, $event.type)"
        (weeklyProgramChange)="changeWeeklyProgram($event.item, $event.type)"
        (addAssignment)="addAssign($event.program, $event.sectionMeeting)"
      ></vmc-program-week>
      }
    </div>
  </div>
</div>
