<div class="program">
  <div class="container-fluid">
    <div class="wrapper">
      <div
        class="container-fluid program__body pb-4 mb-3 shadow-page"
        *ngFor="let semana of semanas"
      >
        <ng-container *ngIf="semana.assembly != null && semana.assembly != ''">
          <div class="row text-center assembly pt-5 mb-5">
            <div class="col-md-12 mt-5 p-5">
              <h2>{{ semana.assembly | uppercase }}</h2>
              <h4>{{ showDayOfMeeting(semana.meeting.week) }}</h4>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="semana.assembly == null || semana.assembly == ''">
          <div class="row program__header text-center text-md-start">
            <div class="col-md-3 h3 d-none d-md-inline">
              <div class="program__congregacion pt-md-2">
                {{ semana.congregation.name }}
              </div>
            </div>
            <div
              class="col-md-8 d-none d-md-inline h2 text-center text-md-end pe-md-5"
            >
              <div class="program__title">
                Programa para la reunión de entre semana
              </div>
            </div>
            <div class="col-md-1 text-center text-md-start">
              <img
                class="hover"
                (click)="print(semana)"
                src="../../../../../assets/img/imprimir.png"
                width="30px"
                alt=""
                title="Imprime solo una semana"
              />
            </div>
          </div>
          <div class="mt-3 program__reunion pe-md-4">
            <div class="row">
              <div class="col-md-7 fw-bold text-md-start">
                <a href="{{ semana.meeting.url }}" target="_blank">
                  {{ showDayOfMeeting(semana.meeting.week) }}
                </a>
                @if(semana.meeting.weeklyBibleReading){ |
                {{ semana.meeting.weeklyBibleReading }}
                } @else { | LECTURA SEMANAL DE LA BIBLIA }
              </div>

              <div class="col-md-2 text-md-end text-title-custom" *ngIf="RoomA">
                Presidente:
              </div>
              <div class="col-md-3 text-md-start hover" *ngIf="RoomA">
                <span (click)="changeProgram(semana, 'president')">
                  {{
                    semana.president ? semana.president.fullName : porAsignar
                  }}
                </span>
              </div>
            </div>

            <div class="row" *ngIf="RoomA">
              <div class="col-md-7"></div>
              <div class="col-md-2 text-md-end text-title-custom">
                Consejero de la sala auxiliar:
              </div>
              <div class="col-md-3 text-md-start hover">
                <span (click)="changeProgram(semana, 'assistantAdviser')">
                  {{
                    semana.assistantAdviser
                      ? semana.assistantAdviser.fullName
                      : porAsignar
                  }}
                </span>
              </div>
            </div>
            <div class="row" *ngIf="RoomA">
              <div class="col-md-7 text-md-start">
                <span class="ms-md-3 ps-md-1"></span>
                <span
                  class="mx-md-2 hover ms-md-3 d-none d-md-inline"
                  (click)="changeProgram(semana, 'startTimeOpeningSong')"
                  >{{ adapterTime(semana.startTimeOpeningSong) }}</span
                >
                <span
                  class="fw-bold hover"
                  (click)="changeProgram(semana, 'openingSong')"
                >
                  Canción {{ semana.meeting.openingSong }}
                </span>
              </div>
              <div class="col-md-2 text-md-end text-title-custom">Oración:</div>
              <div class="col-md-3 text-md-start hover">
                <span (click)="changeProgram(semana, 'openingPrayer')">
                  {{
                    semana.openingPrayer
                      ? semana.openingPrayer.fullName
                      : porAsignar
                  }}
                </span>
              </div>
            </div>
            <div class="row program__tesoros ms-md-3" *ngIf="RoomA">
              <div class="col-md-12 mb-2 text-md-start">
                <span
                  class="mx-md-2 hover d-none d-md-inline"
                  (click)="changeProgram(semana, 'startTimeIntro')"
                  >{{ adapterTime(semana.startTimeIntro) }}</span
                >
                <span class="hover" (click)="changeProgram(semana, 'introTime')"
                  >Palabras de introducción ({{
                    semana.meeting.introTime + " " + semana.meeting.timeType
                  }})
                </span>
              </div>
            </div>

            <fieldset class="mb-2">
              <legend class="program__title-tesoros">
                TESOROS DE LA BIBLIA
                <mat-icon (click)="addAssign(semana, 'TESOROS DE LA BIBLIA')"
                  >edit</mat-icon
                >
              </legend>
              <div
                class="row program__tesoros"
                *ngFor="let item of semana.weeklyProgram"
              >
                <div
                  class="col-md-7 mt-1"
                  *ngIf="
                    item.assignment.sectionMeeting == 'TESOROS DE LA BIBLIA' &&
                    item.room == room
                  "
                >
                  <div class="row">
                    <div
                      class="col-md-1 ms-2 width-timeStart hover d-none d-md-inline"
                      (click)="changeWeeklyProgram(item, 'startTime')"
                    >
                      {{ adapterTime(item.startTime) }}
                    </div>
                    <div
                      class="col-md-11 big-title p-0 m-0"
                      [title]="
                        item.assignment.title +
                        ' (' +
                        item.assignment.time +
                        item.assignment.timeType +
                        ')'
                      "
                    >
                      <span
                        class="title-number hover"
                        (click)="changeWeeklyProgram(item, 'number')"
                        >{{ item.assignment.number }}.</span
                      >

                      <span
                        class="hover program__title-asingment"
                        (click)="changeWeeklyProgram(item, 'title')"
                      >
                        {{
                          item.assignment.title +
                            " (" +
                            item.assignment.time +
                            " " +
                            item.assignment.timeType +
                            ")"
                        }}
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-2 mt-1 text-end text-title-custom"
                  *ngIf="
                    item.assignment.sectionMeeting == 'TESOROS DE LA BIBLIA' &&
                    item.room == room
                  "
                >
                  <span
                    class="hover d-none d-md-inline"
                    *ngIf="item.assignment.showTips"
                    (click)="changeWeeklyProgram(item, 'tips')"
                    >{{ item.assignment.tips }}</span
                  >
                </div>
                <div
                  class="col-md-3 mb-3 mb-md-0"
                  *ngIf="
                    item.assignment.sectionMeeting == 'TESOROS DE LA BIBLIA' &&
                    item.room == room
                  "
                >
                  <span
                    class="hover"
                    (click)="changeWeeklyProgram(item, 'responsible')"
                  >
                    {{ item.responsible?.fullName ?? porAsignar }}
                  </span>
                </div>
              </div>
            </fieldset>

            <fieldset class="mb-2">
              <legend class="program__title-maestros">
                SEAMOS MEJORES MAESTROS
                <mat-icon (click)="addAssign(semana, 'SEAMOS MEJORES MAESTROS')"
                  >edit</mat-icon
                >
              </legend>
              <div
                class="row program__tesoros"
                *ngFor="let item of semana.weeklyProgram"
              >
                <div
                  class="col-md-7 mt-1"
                  *ngIf="
                    item.assignment.sectionMeeting ==
                      'SEAMOS MEJORES MAESTROS' && item.room == room
                  "
                >
                  <div class="row">
                    <div
                      class="col-md-1 ms-2 width-timeStart hover d-none d-md-inline"
                      (click)="changeWeeklyProgram(item, 'startTime')"
                    >
                      {{ adapterTime(item.startTime) }}
                    </div>
                    <div
                      class="col-md-11 big-title p-0 m-0"
                      [title]="
                        item.assignment.title +
                        ' (' +
                        item.assignment.time +
                        item.assignment.timeType +
                        ')'
                      "
                    >
                      <span
                        class="title-number hover"
                        (click)="changeWeeklyProgram(item, 'number')"
                        >{{ item.assignment.number }}.</span
                      >
                      <span
                        class="hover program__title-asingment"
                        (click)="changeWeeklyProgram(item, 'title')"
                      >
                        {{
                          item.assignment.title +
                            " (" +
                            item.assignment.time +
                            " " +
                            item.assignment.timeType +
                            ")"
                        }}
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-2 mt-1 text-end text-title-custom"
                  *ngIf="
                    item.assignment.sectionMeeting ==
                      'SEAMOS MEJORES MAESTROS' && item.room == room
                  "
                >
                  <span
                    class="hover d-none d-md-inline"
                    *ngIf="item.assignment.showTips"
                    (click)="changeWeeklyProgram(item, 'tips')"
                    >{{ item.assignment.tips }}</span
                  >
                </div>
                <div
                  class="col-md-3 mb-3 mb-md-0"
                  *ngIf="
                    item.assignment.sectionMeeting ==
                      'SEAMOS MEJORES MAESTROS' && item.room == room
                  "
                >
                  <span
                    class="hover"
                    (click)="changeWeeklyProgram(item, 'responsible')"
                  >
                    {{ item.responsible?.fullName ?? porAsignar }}
                  </span>
                  <span
                    class="hover"
                    (click)="changeWeeklyProgram(item, 'assistant')"
                  >
                    {{
                      item.assistant
                        ? "/" + item.assistant.fullName
                        : "/" + porAsignar
                    }}
                  </span>
                </div>
              </div>
            </fieldset>

            <fieldset *ngIf="RoomA">
              <legend class="program__title-vida">
                NUESTRA VIDA CRISTIANA
                <mat-icon (click)="addAssign(semana, 'NUESTRA VIDA CRISTIANA')"
                  >edit</mat-icon
                >
              </legend>
              <div class="row">
                <div class="col-md-12 mt-1">
                  <span
                    class="mx-2 hover d-none d-md-inline"
                    (click)="changeProgram(semana, 'startTimeIntermediateSong')"
                    >{{ adapterTime(semana.startTimeIntermediateSong) }}</span
                  >
                  <span
                    class="fw-bold hover"
                    (click)="changeProgram(semana, 'intermediateSong')"
                  >
                    Canción {{ semana.meeting.intermediateSong }}
                  </span>
                </div>
              </div>
              <div
                class="row program__tesoros"
                *ngFor="let item of semana.weeklyProgram"
              >
                <div
                  class="col-md-7"
                  *ngIf="
                    item.assignment.sectionMeeting == 'NUESTRA VIDA CRISTIANA'
                  "
                >
                  <div class="row">
                    <div
                      class="col-md-1 width-timeStart ms-2 hover d-none d-md-inline"
                      (click)="changeWeeklyProgram(item, 'startTime')"
                    >
                      {{ adapterTime(item.startTime) }}
                    </div>
                    <div
                      class="col-md-11 big-title p-0 m-0 hover"
                      [title]="
                        item.assignment.title +
                        ' (' +
                        item.assignment.time +
                        item.assignment.timeType +
                        ')'
                      "
                    >
                      <span
                        class="title-number hover"
                        (click)="changeWeeklyProgram(item, 'number')"
                        >{{ item.assignment.number }}.</span
                      >
                      <span
                        class="hover program__title-asingment"
                        (click)="changeWeeklyProgram(item, 'title')"
                      >
                        {{
                          item.assignment.title +
                            " (" +
                            item.assignment.time +
                            " " +
                            item.assignment.timeType +
                            ")"
                        }}
                      </span>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-2 mt-1 text-end text-title-custom"
                  *ngIf="
                    item.assignment.sectionMeeting == 'NUESTRA VIDA CRISTIANA'
                  "
                >
                  <span
                    class="hover d-none d-md-inline"
                    *ngIf="item.assignment.showTips"
                    (click)="changeWeeklyProgram(item, 'tips')"
                    >{{ item.assignment.tips }}</span
                  >
                </div>
                <div
                  class="col-md-3 mb-3 mb-md-0"
                  *ngIf="
                    item.assignment.sectionMeeting == 'NUESTRA VIDA CRISTIANA'
                  "
                >
                  <span
                    class="hover"
                    (click)="changeWeeklyProgram(item, 'responsible')"
                  >
                    {{
                      item.responsible ? item.responsible.fullName : porAsignar
                    }}
                  </span>
                  <span
                    class="hover"
                    (click)="changeWeeklyProgram(item, 'assistant')"
                  >
                    {{
                      item.assistant
                        ? "/" + item.assistant.fullName
                        : "/" + porAsignar
                    }}
                  </span>
                </div>
              </div>
            </fieldset>

            <div class="row ms-3" *ngIf="RoomA">
              <div class="col-md-12 mt-1">
                <span
                  class="mx-2 hover d-none d-md-inline"
                  (click)="changeProgram(semana, 'startTimeConclusionWords')"
                  >{{ adapterTime(semana.startTimeConclusionWords) }}</span
                >
                Palabras de conclusión
              </div>
            </div>

            <div class="row ms-3" *ngIf="RoomA">
              <div class="col-md-7 mt-1">
                <span
                  class="mx-2 hover d-none d-md-inline"
                  (click)="changeProgram(semana, 'startTimeFinalSong')"
                  >{{ adapterTime(semana.startTimeFinalSong) }}</span
                >
                <span
                  class="fw-bold hover"
                  (click)="changeProgram(semana, 'finalSong')"
                >
                  Canción {{ semana.meeting.finalSong }}
                </span>
              </div>
              <div class="col-md-2 mt-1 text-end text-title-custom">
                Oracion:
              </div>
              <div
                class="col-md-3 hover"
                (click)="changeProgram(semana, 'finalPrayer')"
              >
                {{
                  semana.finalPrayer ? semana.finalPrayer.fullName : porAsignar
                }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
